{% extends "base/base_detail.html" %}
{% block css %}
    <style>
        .jian-my {
            margin: 0px 0 6px 25px;
            font-size: 14px;
            color: #8e8e8e;
            display: flex;
            flex-basis: 100%;
            justify-content: flex-start;
        }

        .jina-triangle {
            width: 0px;
            height: 0px;
            border-width: 8px;
            border-style: solid;
            border-color: transparent #4dd04a transparent transparent;
            position: relative;
            left: -14px;
            top: 8px;
        }

        .jian-my-luyin {
            width: 200px;
            background-color: #4dd04a;
            margin: 4px 8px 4px 12px;
            border-radius: 5px;
            position: relative;
        }
    </style>
{% endblock %}


{% block header %}
    <div class="jian-header-middle">
        职位详情
    </div>
{% endblock %}
{% block header_right %}
{% endblock %}

{% block body_css %}
    style="margin-top: -128px;padding-top: 173px"
{% endblock %}


{% block footer %}
    <div style="width: 100%;height: 80px;border-top: 1px solid #ebebeb;">
        <div style="height: 20px;margin: 6px 25px;color: #8e8e8e;display: flex;justify-content: flex-start;flex-grow:0;">
            <span style="text-align:center;line-height: 20px;font-size: 12px;">
                伯乐<span style="color: #00a8ff;">{{ bole_name | safe }}</span>语录
            </span>
            <span style="flex:1;text-align: right;line-height: 20px;font-size: 12px;">
                {{ recommend_expire_time |safe }}
            </span>
        </div>

        <div class="jian-my">
            <div id="jian-portrait" style="width:40px;height: 40px;position: relative; ">
                <img src="{{ bole_portrait }}" width="100%" height="100%"
                     style="border-radius: 50%;">
                <img src="http://res.jian-hu.cn/static/img/v@2x.png" style="display:{{ bl_vip_display |safe| default:"none" }};position: absolute;top: 20px;left: 20px;width: 26px;height: 26px;">
            </div>

            <div class="jian-my-luyin">
                <div class="jina-triangle"></div>
                <div style="width: 20px;height: 20px;position: absolute;left: 12px;top: 6px;">
                    <img id="say" src="http://res.jian-hu.cn/static/img/say@2x.png" width="100%" height="100%"
                         id="play">
                </div>
            </div>
            <div style="line-height: 40px;" id="audio_length">
            </div>
        </div>
    </div>

    <div class="weui_tabbar">
        <a href="javascript:;" id="toggle_job" class="weui_tabbar_item" style="padding-top: 0">
            <div class="jian-tabbar-xingqu">
                <span id="toggle_job_text" style="margin-top: 14px;"></span>
            </div>
        </a>
        <a href="javascript:;" id="edit_job" class="weui_tabbar_item" style="padding-top: 0">
            <div class="jian-tabbar-friend">
                <span id="edit_job_text" style="margin-top: 14px;"></span>
            </div>
        </a>
    </div>
{% endblock %}

{% block ApiReady %}

    var recommend_audio = "";
    var is_playing = false;
    var recommend_audio = "";
    var recommend_audio_length = "";
    if('{{ recommend_audio_4_qlm |safe }}'==''){
        recommend_audio = '{{ recommend_audio_4_zg |safe }}';
        recommend_audio_length = '{{ recommend_audio_length_4_zg |safe }}';
    }else{
        recommend_audio = '{{ recommend_audio_4_qlm |safe }}';
        recommend_audio_length = '{{ recommend_audio_length_4_qlm |safe }}'
    }


    $("#audio_length").text(recommend_audio_length+"''");

    wx.downloadVoice({
    serverId: recommend_audio, // 需要下载的音频的服务器端ID，由uploadVoice接口获得
    isShowProgressTips: 1, // 默认为1，显示进度提示
    success: function (res) {
    recommend_audio = res.localId; // 返回音频的本地ID
    is_playing = false;
    }
    });

    $('.jian-my-luyin').on('touchend', function (event) {
    if(recommend_audio!=""&&!is_playing){
    $('#say').attr("src", "http://res.jian-hu.cn/static/img/say@2x.gif");
    is_playing = true;
    wx.playVoice({
    localId:recommend_audio // 需要播放的音频的本地ID，由stopRecord接口获得
    });
    }
    });

    wx.onVoicePlayEnd({
    success: function (res) {
    var localId = res.localId; // 返回音频的本地ID
    is_playing = false;
    $('#say').attr("src", "http://res.jian-hu.cn/static/img/say@2x.png");
    }
    });

    var bole_user_info_map = {{ bole_user_info_map | safe }};
    var bole_nick = bole_user_info_map.nick;
    var bole_portrait = bole_user_info_map.portrait;
    var bole_title = bole_user_info_map.user_title;
    var bole_company = bole_user_info_map.user_company;
    var recommend_uuid = '{{ recommend_uuid | safe }}';

    var job_company = '{{ company_name | safe }}';
    var job_title = '{{ job_title | safe }}';

    var share_uuid = Math.uuid();

{% endblock %}

//朋友圈
{% block ShareQuanTitle %}
    bole_company+bole_title+bole_nick+'给你推荐了'+job_company+job_title
{% endblock %}

{% block ShareQuanLink %}
    'http://wx.jian-hu.cn/job/post_recommand_job_success?recommend_uuid='+recommend_uuid+'&share_to_zg=0'+"&last_share_uuid="+share_uuid
{% endblock %}

{% block ShareQuanImg %}
    bole_portrait
{% endblock %}

{% block ShareQuanSuccess %}
    $.post("/job/ajax_share",{"share_uuid":share_uuid,"last_share_uuid":'{{ last_share_uuid |safe }}',"recommend_uuid":'{{ recommend_uuid |safe }}'},function(data){
        if(data!="ok"){
        $.toast("error","text");
        }
    });
{% endblock %}




{% block ShareFriendDesc %}
    bole_company+bole_title+bole_nick+'给你推荐了'+job_company+job_title
{% endblock %}

{% block ShareFriendLink %}
    'http://wx.jian-hu.cn/job/post_recommand_job_success?recommend_uuid='+recommend_uuid+'&share_to_zg=0'+"&last_share_uuid="+share_uuid
{% endblock %}

{% block ShareFriendImg %}
    bole_portrait
{% endblock %}

{% block ShareFriendSuccess %}
    $.post("/job/ajax_share",{"share_uuid":share_uuid,"last_share_uuid":'{{ last_share_uuid |safe }}',"recommend_uuid":'{{ recommend_uuid |safe }}'},function(data){
        if(data!="ok"){
        $.toast("error","text");
        }
    });
{% endblock %}




{% block jsApiList %}
    'downloadVoice',
    'playVoice',
    'onVoicePlayEnd'
{% endblock %}


{% block script %}
    <script type="text/javascript">


        var post_success = '{{ post_success | safe }}';

        if (post_success == '1') {
            openPostJobSuccessModal('http://res.jian-hu.cn/static/img/feiji@2x.png', 'Step 3 发给推荐好友',
                    '<span style="color:#ff9600;">点击右上角</span>，将此页面发给你的微信好友或微信群、朋友圈吧！<span style="color:#8e8e8e;">（已发给{{ username | safe }}的录音及本页推荐录音，可在我的推荐查阅）</span>');
            $('.weui_tab_bd').css({"margin-top": "-80px", "padding-top": "125px"});
            $('#edit_job').hide();
            $('#toggle_job').hide();
            $('.jian-erweima').css("bottom","80px");

            $('.jian-header-left').attr('href', '/index');
        }else{
            $('#edit_job_text').text('推荐好友');
            $('#toggle_job_text').text('我感兴趣');
            $('#toggle_job').on('touchend', function (event) {

                var bind_wx = '{{ bind_wx | safe }}';
                var is_edit = '{{ is_edit | safe }}';

                if (bind_wx == '1' && is_edit == '1') {
                    location.href = '/chat/interest_job?last_share_uuid={{ last_share_uuid |safe }}&recommend_uuid={{ recommend_uuid | safe }}';
                } else if (bind_wx == '0' && is_edit == '1') {
                    $.alert("请关注公众号“荐乎”!", "提示", function () {
                });
                } else if (bind_wx == '1' && is_edit == '0') {
                    $.alert("请至个人中心完善资料！", "提示", function () {
                    });
                } else if (bind_wx == '0' && is_edit == '0') {
                    $.alert("请关注公众号“荐乎”并至个人中心完善资料!", "提示", function () {
                    });
                }
            });
            $('#edit_job').on('touchend', function (event) {
                location.href = '/job/recommand_job?job_uuid=' + uuid;
            });
            $('.jian-erweima').css("bottom","128px");
        }

        if('{{ share_to | safe }}'=='zg'){
            $('.weui_tab_bd').css({"margin-top": "-80px", "padding-top": "125px"});
            $('#edit_job').hide();
            $('#toggle_job').hide();
            $('.jian-erweima').css("bottom","80px");

            $('.jian-header-left').attr('href', '/chat/get_chat_list');
        }

        var share_to = '{{ share_to | safe }}';

        $('.jian-my').on('click', "#jian-portrait", function (event) {
                var user = {{ bole_user_info_map | safe }}
                openModal(user);
        });

    </script>
{% endblock %}

